.portfolio {
  height: max-content;
}

.work_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: var(--mb-2-5);
}

.work_item {
  cursor: pointer;
  font-weight: var(--font-medium);
  color: var(--title-color);
  transition: 0.3s;
  text-transform: capitalize;
}

.work_item-active{
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.25rem 0.75rem;
  border-radius: 1.5rem;
}

.work_item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.25rem 0.75rem;
  border-radius: 1.2rem;
}

.work_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.75rem 15rem;
  gap: 1.875rem;
}

.work_card {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: var(--body-color);
  height: max-content;
}

.work_img{
    border-radius: 1.5rem;
}

.work_mask {
  background: var(--title-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_mask {
  opacity: 0.7;
}

.work_category {
  color: var(--title-color);
  background-color: var(--container-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}

.work_title {
  color: var(--container-color);
  font-size: var(--h3-font-size);
  margin: 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 4rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work_button {
  color: var(--title-color);
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: var(--h3-font-size);
  background-color: var(--container-color);
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_button {
  opacity: 1;
}

.work_card:hover .work_title,
.work_card:hover .work_category {
  transform: translateY(0);
  opacity: 1;
}

/* =============== Media Queries ============== */

/* For large Devices */
@media screen and (max-width: 992px) {
  .work_container {
    padding: 0.75rem 5rem;
  }
}

/* @media(min-width: 1250px){
  .work_card{
    width: 300px;
    height: 200px;
  }
} */

/* For Medium Screens */
@media screen and (max-width: 768px) {
  .work_container {
    padding: 0.75rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .work_filters{
    column-gap: 1rem;
  }
  
  .work_container {
    grid-template-columns: 1fr;
  }
}

/* For Small devices */
@media screen and (max-width: 360px) {
  
}
