.skills {
  height: max-content;
}

.skills__container {
  max-width: 1024px;
  display: grid;
  gap: 1.5rem;
  margin-inline: 1.5rem;
}

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills__title i {
  font-size: 1rem;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob {
  display: grid;
}

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills__data {
  justify-content: center;
  text-align: center;
}

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
}

.skills__blob img {
  width: 40px;
}

.skills__name {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.skills__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

/* Animation skills */
.skills__blob:hover img {
  animation: bounce-skills 0.6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}


/* For Small Screen */
@media screen and (max-width: 340px){
    .skills__container{
        margin-inline: 1rem;
    }

    .skills__info{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For Medium Screen */
@media screen and (min-width: 576px){
    .skills__container{
        justify-content: center;
    }
}

@media screen and (min-width: 767px){
    .skills__container{
        grid-template-columns: repeat(2, max-content);
        column-gap: 5rem;
    }
}

/* For Large Screen */
@media screen and (min-width: 1048px){
    .skills__container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px){
    .skills__container{
        column-gap: 10rem;
    }

    .skills__title{
        margin-bottom: 3rem;
    }

    .skills__title i{
        font-size: 1.25rem;
    }

    .skills__name{
        font-size: .938rem;
    }

    .skills__info{
        gap: 3rem;
    }
}

