@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

:root {
  --header-height: 3rem;

  /* ============= Font Families ============ */
  --styled-font: "Caveat", cursive;
  --body-font: "Open Sans", sans-serif;

  /* =========== Colors ========= */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --active-color: #EC994B;

  /* ============ Topography ========== */
  --large-font-size: 3.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.815rem;
  --tiny-font-size: 0.625rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;

  /* ========= Font Weights ======== */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ============= Margins Bottom ============ */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3.5rem;
  --mb-4: 4rem;

  /* ========= Z-Index ========= */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* ========= Box Shadow ========= */
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --dark-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* ========= Base ======== */
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 50px;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ============ Reuseable CSS Classes ============== */
.section {
  padding: 6rem 0 2rem;
  height: 100vh;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-4);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* ============= Layout ============== */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ============= Buttons ============= */
/* .button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
} */

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #333 0, #333 100%);
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #111 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #111 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #111 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #111 0 3px 7px inset;
  transform: translateY(2px);
}

.button_icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/* =============== Media Queries ============== */

/* For large Devices */
@media screen and (max-width: 992px) {
  :root {
    --large-font-size: 2.75rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.815rem;
    --smaller-font-size: 0.75rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
  }

  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }
}

/* For Medium Screens */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height);
  }
  .section {
    padding: 2rem 0 4rem;
    height: auto;
  }

  .section_subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* For Small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
